.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th.sorted:hover,
.ui.sortable.table thead th:hover {
  background: #f2f2f2;
}

/* .react-datepicker {
  display: flex;
}
.react-datepicker__input-container input {
  outline: none;
  width: 100%;
} */
pre {
  font-family: inherit;
  white-space: break-spaces;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.map-tile {
  width: 50px;
  height: 50px;
  border: 1px solid #0000000a;
  display: inline-block;
}
.map-tile:hover {
  border: 1px solid rgb(54, 7, 226);
}
.hover-border {
  border: 1px solid #eee;
}
.hover-border:hover {
  border: 1px solid rgb(54, 7, 226);
}
.hover-border.active {
  border: 2px solid red;
}

.img {
  max-width: 300% !important;
}

.alert-field {
  /* background-color: rgb(212, 30, 30) !important; */
  /* color: white; */
  color: red;
  display: table-cell !important;
}

.alert-field::before {
  content: "\f071";
  font-family: "Font Awesome 5 Free"; 
  margin-right: 2px;
  color: red;
}

.unset-input {
  color: black;
}

.bg-light {
  /* background: #2c75b6 !important; */
  background: white !important;
}

.ui.inverted.menu.menu-blue .item, .ui.inverted.menu .item>a:not(.ui) {
  background-color: #5d9dd6;
}

.menu-blue {
  background-color: #5d9dd6 !important;
}

.menu-blue-bold {
  padding-right: 1.142857em !important;
  padding-left: 1.142857em !important;
}

.menu-blue-bold {
  background-color: #ffffff !important;
}

.bg-linear-blue {
  background-image: linear-gradient(#05335c, #245481);
}

.bg-transparent-force {
  background: transparent !important;
}

.border-bottom-black {
  box-shadow: 0px 15px 10px -15px #111 !important;    
  background-color: white !important;
}

.ui.sortable.table thead th {
  border-left: unset !important;
}

.ui.inverted.menu :not(.border-bottom-black) :not(.unset-background) {
  background: transparent !important;
}

.small-image {
  cursor: pointer;
}
/* 
.button {
  border-radius: 20px !important;
} */

textarea {
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  padding: 0.67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: 0.28571429rem;
}

textarea:active {
  border-color: #3b82f680;
}
textarea:focus {
  border-color: #3b82f680;
}

.text-area-filter {
  width: 300px !important;
}

.error-field-schema {
  color: red !important;
}

.grid-form {
  display: grid !important;
  gap: 10px;
}

.pdf-large {
  width: 400px !important;
}

.pdf-large img:not(.not-force) {
  width: 400px !important;
}

.pdf-small-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pdf-small-container img {
  width: 42px;
  cursor: pointer;
}